-var prettyDate = function prettyDate(dateString){
-   return new Date(dateString).toDateString().slice(4);
-}
each post, slug in public.posts._data.posts
  .post-preview
    a(href='/posts/#{slug}')
      h2.post-title
        != post.title
      h3.post-subtitle
        != post.description
    p.post-meta
      | Posted by&nbsp
      a(href='#')
        != public.posts._data.authors[post.author].name
      |  on #{prettyDate(post.date)}
  hr
