p
  | Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!
form#contactForm(name='sentMessage', novalidate='')
  .row.control-group
    .form-group.col-xs-12.floating-label-form-group.controls
      label Name
      input#name.form-control(type='text', placeholder='Name', required='', data-validation-required-message='Please enter your name.')
      p.help-block.text-danger
  .row.control-group
    .form-group.col-xs-12.floating-label-form-group.controls
      label Email Address
      input#email.form-control(type='email', placeholder='Email Address', required='', data-validation-required-message='Please enter your email address.')
      p.help-block.text-danger
  .row.control-group
    .form-group.col-xs-12.floating-label-form-group.controls
      label Phone Number
      input#phone.form-control(type='tel', placeholder='Phone Number', required='', data-validation-required-message='Please enter your phone number.')
      p.help-block.text-danger
  .row.control-group
    .form-group.col-xs-12.floating-label-form-group.controls
      label Message
      textarea#message.form-control(rows='5', placeholder='Message', required='', data-validation-required-message='Please enter a message.')
      p.help-block.text-danger
  br
  #success
  .row
    .form-group.col-xs-12
      button.btn.btn-default(type='submit') Send
