p
  | DevOps Costa Rica Meetup es un grupo de profesionales en desarrollo de software y tecnologías de información que fomenta el aprendizaje y el intercambio de información sobre el movimiento DevOps - cultura, prácticas y herramientas.
p
  | Cubriremos todo lo relacionado con DevOps incluyendo automatización, orquestación, contenedores, virtualización, servicio de descubrimiento, integración continua y entrega continua.
h2
  a#user-content-que-es-devops.anchor(href='#que-es-devops', aria-hidden='true')
    span.octicon.octicon-link
  | Que es DevOps?
p
  | DevOps es un movimiento de desarrolladores de software e ingenieros de operaciones apasionados que quieren derribar los muros y mejorar la relación entre entre desarrollo, operaciones y el resto de la empresa.
p
  | DevOps es una respuesta a la interdependencia del desarrollo de software y las operaciones IT. Su objetivo es ayudar a una organización a producir productos y servicios software rápidamente.
p DevOps se pueden resumir en 4 puntos clave , conocidos como CAMS :
h3
  a#user-content-cultura.anchor(href='#cultura', aria-hidden='true')
    span.octicon.octicon-link
  | Cultura
p
  | Personas por encima de la tecnología. Si usted no tiene la cultura, todos los intentos de automatización serán infructuosos.
h3
  a.anchor(id='user-content-automatización', href='#automatización', aria-hidden='true')
    span.octicon.octicon-link
  | Automatización
p
  | Este es uno de los lugares en cual se inicia una vez que entienda su cultura, uniendo un tejido de automatización que refleja su cultura y el conocimiento compartido.
h3
  a.anchor(id='user-content-medición', href='#medición', aria-hidden='true')
    span.octicon.octicon-link
  | Medición
p
  | Si no se puede medir, no se puede mejorar. Equipos haciendo DevOps con éxito medirán todo tan a menudo como sea posible: métricas de rendimiento , métricas de proceso, etc.
h3
  a#user-content-sharing.anchor(href='#sharing', aria-hidden='true')
    span.octicon.octicon-link
  | Sharing
p
  | Compartir es el bucle de retorno en el ciclo de CAMS. Crear una cultura donde la gente comparte ideas y problemas es fundamental.
h2
  a#user-content-eventos--meetups.anchor(href='#eventos--meetups', aria-hidden='true')
    span.octicon.octicon-link
  | Eventos / Meetups
p
  | Este grupo es una oportunidad de conocer otros desarrolladores e ingenieros de operaciones con ideas afines.Un grupo para profesionales, piratas informáticos, administradores e ingenieros de desarrollo y operaciones.
p
  | Puedes subscribirte para recibir notificaciones de los eventos en  
  a(href='http://www.meetup.com/devOpsCR') meetup.com
h2
  a#user-content-ideas-y-consultas.anchor(href='#ideas-y-consultas', aria-hidden='true')
    span.octicon.octicon-link
  | Ideas y consultas
p
  | Utilizamos el  
  a(href='https://github.com/devOpsCR/foro/issues') issue tracker
  |   como foro para conversar sobre ideas y responder preguntas relacionadas a devOps Costa Rica
p
  | También puede usar 
  a(href='http://slack.devopscr.co') slack
  |  y el canal #devopscr en la red FreeNode 
h2
  a.anchor(id='user-content-cómo-puedo-organizar-o-proponer-un-meetup', href='#cómo-puedo-organizar-o-proponer-un-meetup', aria-hidden='true')
    span.octicon.octicon-link
  | Cómo puedo organizar o proponer un meetup?
p
  | devOpsCR es una comunidad abierta, todos los miembros pueden proponer y organizar meetups para exponer sus experiencias en algún tema relacionado a devOps y así difundir el conocimiento personal para transformarlo en conocimiento colectivo. El equipo organizador de devOps Costa Rica te ayudará con todo lo que necesites para tu meetup. Para proponer un evento puedes enviar un correo a  
  a(href='mailto:hola@devops.co') hola@devops.co
  |  con los siguientes detalles:
ul
  li Nombre Completo.
  li Título de la charla o conferencia.
  li Duración aproximada.
  li Breve descripción de la charla o conferencia.
  li Breve descripción sobre usted (trayectoria, ocupación, etc)
  li Recursos necesarios.
h2
  a.anchor(id='user-content-organización', href='#organización', aria-hidden='true')
    span.octicon.octicon-link
  | Organización
ul
  li
    a(href='http://gaboesquivel.com/about') Gabo Esquivel
    |  - 
    a(href='https://twitter.com/gaboesquivel') @gaboesquivel
  li
    a(href='https://cr.linkedin.com/pub/leonardo-murillo/48/107/698') Leonardo Murillo
    |  - 
    a(href='http://twitter.com/murillodigital') @murillodigital
  li
    a(href='https://cr.linkedin.com/in/jeffreyesquivel') Jeffrey Esquivel
    |  - 
    a(href='https://twitter.com/jeffesquivels') @jeffesquivels
