// Navigation
nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') #{nav_brand_name}
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') Inicio
        li
          a(href='/blog') Blog
        li
          a(href='http://www.meetup.com/devOps-Costa-Rica' target='_blank') Eventos
        li
          a(href='https://github.com/devOpsCR/foro' target='_blank') Preguntas
        li
          a(href='http://slack.devopscr.co' target='_blank') Chat
        li
          a(href='http://github.com/devopscr' target='_blank') Github
    // /.navbar-collapse
  // /.container
